@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");

:root {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
